$skeleton-bg-highlight: linear-gradient(
                45deg,
                transparent 0%,
                var(--nav-bar-color) 17%,
                var(--body-background-alternate) 34%,
                var(--body-background-alternate-2) 50%,
                var(--body-background-alternate) 68%,
                var(--nav-bar-color) 85%,
                transparent 100%
) right no-repeat;


.skeleton-loader {
  border-radius: 4px;
  animation: swift 2s ease-in-out infinite alternate;
  background: $skeleton-bg-highlight;
  background-size: 400%;

  @media (prefers-reduced-motion) {
    background: var(--nav-bar-color);
    background-size: 100%;
    animation: glow 1.5s ease-in-out infinite alternate;
  }
}

@keyframes swift {
  from {
    background-position: right;
  }
  to {
    background-position: left;
  }
}

@keyframes glow {
  0% {
    background-color: var(--nav-bar-color);
  }
  100% {
    background-color: var(--body-background-alternate-2);
  }
}
